#frame {
    padding: 20px;
    border: 1px solid #000; /* This is just for demonstration purposes DELETE*/
    box-sizing: border-box;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 768px) {
    #frame {
        padding: 10px;
    }
}
