#toolset {
    grid-column: one / two;
    grid-row: second / third;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    margin: 0px 0px 0px 10px;
    border-radius: 40px;
}